*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open sans, sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;
}

.App {
  text-align: center;
}

.container-slider {
  display: flex;
  justify-content: center;
  max-width: 700px;
  height: 600px;
  margin: 100px auto 100px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}
.slide {
  width: 70%;
  height: 100%;
  position: absolute;
  opacity: 1;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  margin-top: 15px;
  width: 60%;
  height: 50%;
  object-fit: cover;
}

.list-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 10px 0;
  list-style-type: none;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.list-wrapper li{
  margin: 10px 10px;
  text-align: start;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide:hover {
  background:hotpink;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #171515;
  margin: 0 5px;
  background: white;
}
.dot.active {
  background: rebeccapurple;
}

